@media screen and (max-width: 1920px) {
	.video {
		background: url(../images/video.png) center 100% no-repeat;
	}
}

@media screen and (max-width: 1900px) {
	.seven_sl2 .slick-prev {
		left: -548px !important;
	}

	.seven_sl2 .slick-next {
		left: -243px !important;
	}
}

@media screen and (max-width: 1850px) {
	.seven_sl2 .slick-prev {
		left: -523px !important;
	}

	.seven_sl2 .slick-next {
		left: -218px !important;
	}
}

@media screen and (max-width: 1800px) {
	.seven_sl2 .slick-prev {
		left: -498px !important;
	}

	.seven_sl2 .slick-next {
		left: -193px !important;
	}
}

@media screen and (max-width: 1750px) {
	.seven_sl2 .slick-prev {
		left: -473px !important;
	}

	.seven_sl2 .slick-next {
		left: -168px !important;
	}
}

@media screen and (max-width: 1700px) {
	/*.seven_sl2 .slick-prev {
		left: -448px !important;
	}

	.seven_sl2 .slick-next {
		left: -143px !important;
	}*/
}

@media screen and (max-width: 1650px) {
	/*.seven_sl2 .slick-prev {
		left: -423px !important;
	}

	.seven_sl2 .slick-next {
		left: -118px !important;
	}*/
}

@media screen and (max-width: 1600px) {
	.seven_sl2 .slick-prev {
		left: -461px !important;
	}

	.seven_sl2 .slick-next {
		left: -156px !important;
	}
}

@media screen and (max-width: 1550px) {
	.background {
	    background: url(../images/background.png) 100% 0 no-repeat;
	    background-size: cover;
	}

	.two_block {
	    width: 25%;
	    margin: 0 20px 0 0;
	}

	

	.five_wrap {
	    padding: 0 0 0 0px;
	    margin: 25px 0 -450px 0;
	    display: flex;
	    justify-content: center;
	    position: relative;
	    z-index: 1;
	    border-top: 1px solid #BBBDBF;
	}

	.five_bg {
		padding: 0;
	}

	.five_top {
	    margin: -20px 0 0 0;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	}

	.five_border {
		padding: 28px 20px 0 20px;
	}

	.five_border_height {
		height: 650px;
	}

	.five_border_height2 {
		height: 550px;
	}

	.five_border_height4 {
		height: 350px;
	}

	.five_border_height5 {
		height: 250px;
	}

	.four_wrap {
		flex-wrap: wrap;
		padding: 10px 0 0 0;
	}

	.four_block {
		width: 50%;
		padding: 20px 10px 0 10px;
	}

	.four_border {
		height: 354px;
	}

	.four_absolute_left {
		right: auto;
		left: 0;
	}

	.four_title {
	    font-family: 'gteestiprodisplay-bold';
	    font-size: 22px;
	    line-height: 22.56px;
	    color: #fff;
	    text-transform: uppercase;
	}

	.four_ul {
	    padding: 5px 0 0 0;
	}

	.four_li p {
	    font-size: 16px;
	    line-height: 17.98px;
	    color: #fff;
	}

	.four_suptitle {
	    font-size: 16px;
	    line-height: 16.36px;
	    color: #fff;
	    padding: 0 0 0 14px;
	}

	.four_border {
		padding: 30px 30px;
		height: 284px;
	}

	.four_border_bg {
		border-radius: 20px 20px 100px 20px;
	}

	.four_border_bg2 {
		border-radius: 100px 20px 20px 20px;
	}

	.four_border_bg3 {
		border-radius: 20px 20px 20px 100px;
	}

	.four_border_bg4 {
		border-radius: 20px 100px 20px 20px;
	}

	.four_absolute {
	    position: absolute;
	    width: 217px;
	    right: 0;
	    display: flex;
	    bottom: 0;
	}

	.four_absolute_bt {
		bottom: -50px;
		right: -20px;
	}

	.six_block {
	    padding: 60px 0 0 0px;
	    width: 47%;
	}

	.six_block2 {
	    width: 53%;
	}

	.seven_title {
	    font-family: 'gteestiprodisplay-medium';
	    font-size: 40px;
	    line-height: 44.6px;
	    text-transform: uppercase;
	}

	

	.nine_adsolute {
		right: 33px;
		top: auto;
		bottom: 38px;
	}

	.nine_inner_block_lg {
		width: 100%;
		padding: 0 0 13px 0;
	}

	.nine_title {
	    font-family: 'gteestiprodisplay-bold';
	    font-size: 38px;
	    line-height: 42.4px;
	    color: #fff;
	}

	.nine_suptitle {
	    padding: 16px 0 0 0;
	    font-size: 18px;
	    line-height: 19.2px;
	    color: #fff;
	}

	.nine_inner {
	    flex-wrap: wrap;
	    display: flex;
	    padding: 20px 0 0 0;
	}

	.nine_chekbox {
	    width: 100%;
	    padding: 20px 0 0 0;
	}

	.nine_border {
	    position: relative;
	    background: url(../images/nine_border.png) 60% 0 no-repeat;
	    background-size: cover;
	    padding: 33px 24px 39px 24px;
	    height: 100%;
	    border-radius: 40px;
	    overflow: hidden;
	}

	.nine_border2 {
	    backdrop-filter: blur(2.83125rem);
	    background: rgba(255, 255, 255, 0.3);
	    border-radius: 40px;
	    padding: 30px 24px 30px 24px;
	    height: 100%;
	}

	.footer_nav_block {
	    padding: 0 40px 0 0;
	}

	.one {
	    background: url(../images/one.png) -27% 9% no-repeat;
	    position: relative;
	    z-index: 1;
	    padding: 84px 0 244px 0;
	}

	.one_restagle {
	    margin: 0 0px 0 0;
	    padding: 46px 15px 0 15px;
	    width: 139px;
	    height: 139px;
	    border-radius: 50%;
	    box-shadow: -5px 4px 8.1px 0px #00000040;
	    background: #FF9A04;
	    text-align: center;
	}

	.services_p_wrap {
		flex-wrap: wrap;
		margin: 10px -10px 0 -10px;
	}

	.services_p_block {
		width: 33.3333333%;
		padding: 20px 10px 0 10px;
	}

	.team_block {
		width: 25%;
		padding: 20px 10px 0 10px;
	}

	.team_wrap {
		margin: 35px -10px 0 -10px;
	}

	.reviews_block {
	    width: 40%;
	    padding: 0 10px 0 0;
	}

	.reviews_block {
	    width: 40%;
	    padding: 0 10px 0 0;
	}

	.seven_sl2 .slick-prev {
        left: -407px !important;
    }

    .seven_sl2 .slick-next {
        left: -105px !important;
    }

    .video_block {
    	width: 33.333333%;
    }

    .news_info {
	    display: flex;
	    flex-wrap: wrap;
	    align-content: space-between;
	    width: 66%;
	    padding: 0 0 0 20px;
	}

	.header_nav {
	    padding: 0px 0 0 20px;
	}

	.header_nav_li {
	    position: relative;
	    padding: 0 20px 0 0;
	}

	.header_nav_link {
	    font-size: 14px;
	    line-height: 12px;
	    color: #fff;
	    display: flex;
	    align-items: center;
	}

	.header_contacts_li a {
	    font-size: 12px;
	    line-height: 12px;
	}
}


@media screen and (max-width: 1380px) {
	.five_wrap {
        padding: 0 0 0 0px;
        margin: 25px 0 -425px 0;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 1;
        border-top: 1px solid #BBBDBF;
    }

    .five_border {
    	width: auto;
    }

    .five_block {
    	width: 20%;
    }

    .footer_nav_block {
	    padding: 0 30px 0 0;
	}

	.licenses_block {
		width: 20%;
	}

	.seven_block {
	    padding: 7px 0 0 0;
	    width: 35%;
	}

	.seven_block2 {
	    width: 65%;
	    padding: 0 0 0 0px;
	}

	.news_block {
		width: 100%;
	}
	.container {
		padding: 0 20px;
	}

	.container-counter {
		padding: 0 0 0 180px;
	}

}

@media screen and (max-width: 1300px) {
	.header_contacts {
		display: none;
	}
}

@media screen and (max-width: 1250px){
	.header_nav_li {
	    position: relative;
	    padding: 0 20px 0 0;
	}

	.header_nav {
	    padding: 0 0 0 30px;
	}

	.container {
		padding: 0 20px;
	}

	.container-counter {
		padding: 0 0 0 180px;
	}


}


/* стили для md-устройств */
@media screen and (max-width: 1200px) {
	.one_restagle {
	    margin: 0 0px 0 -150px;
	    padding: 46px 15px 0 15px;
	    width: 139px;
	    height: 139px;
	    border-radius: 50%;
	    box-shadow: -5px 4px 8.1px 0px #00000040;
	    background: #FF9A04;
	    text-align: center;
	}

	.background {
        background: url(../images/background.png) 70% 0 no-repeat;
        background-size: cover;
    }

    .five_img_lg {
    	width: 100%;
    	display: block;
    }

    .five_img_dk {
    	display: none;
    }

    .five_wrap {
        padding: 0 0 0 0px;
        margin: 25px 0 -360px 0;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 1;
        border-top: 1px solid #BBBDBF;
    }

    .five_border_height {
        height: 490px;
    }

    .five_border_height2 {
        height: 363px;
    }

    .five_border_height3 {
    	height: 320px;
    }

    .five_border_height4 {
        height: 240px;
    }

    .five_border_height5 {
        height: 185px;
    }

    .six_block {
        padding: 20px 0 0 0px;
        width: 39%;
    }

    .six_border {
	    max-width: 450px;
	    position: relative;
	    padding: 37px 0 0 55px;
	}

	.six_block2 {
        width: 61%;
    }

    .seven_wrap {
    	flex-wrap: wrap;
    }

    .seven_block {
    	width: 100%;
    	padding: 0;
    }

    .seven_block2 {
    	width: 100%;
    	padding: 30px 0 0 0;
    }

    .seven_title {
    	text-align: center;
    }

    .seven_slayder_border {
    	height: 230px;
    	padding: 33px 20px 0 20px;
    }

    .seven_sl .slick-next {
    	bottom: 0 !important;
    	left: auto !important;
    	right: 27% !important;
    }

    .seven_sl .slick-prev {
    	bottom: 0 !important;
    	left: 27% !important;
    }

    .container-counter {
    	bottom: 33px;
    	padding: 0;
    }

    .counter {
    	text-align: center;
    }

    .seven_slayder2 {
    	margin: 0 -10px;
    }

    .nine_adsolute_lg {
		display: block;
	}

	.nine_adsolute_dk {
		display: none;
	}

	.nine_adsolute {
		border-radius: 39px;
		width: 202px;
		right: 33px;
		top: auto;
		bottom: 38px;
	}

	.nine_wrap {
		flex-wrap: wrap;
	}

	.nine_block {
		width: 100%;
		margin: 0 0 50px 0;
	}

	.nine {
		padding: 99px 0 70px 0;
	}

	.nine_border {
		border-radius: 20px;
	}

	.footer_contacts_dk {
		display: none;
	}

	.footer_nav_wrap {
		margin: -34px 0 0 0;
		width: 100%;
		flex-wrap: wrap;
	}

	.footer_nav_link_pd {
		display: none;
	}

	.footer_contacts_lg {
		padding: 34px 0 0 0;
		display: block;
	}

	.footer_nav_link_lg {
		display: block;
		padding: 42px 0 0 0;
	}

	.footer_nav_block {
		width: 50%;
		padding: 34px 0 0 0;
	}

	.footer_bottom {
	    border-top: 1px solid #737373;
	    margin: 26px 0 0 0;
	    padding: 40px 0 0 0;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	}

	.footer_logo {
	    width: 24%;
	}

	.footer_inner {
	    width: 76%;
	    display: flex;
	    justify-content: space-between;
	}

	.one {
		background: url(../images/one2.png) 100% 100% no-repeat;
	}

	.team_block {
		width: 33.333333%;
	}

	.team_img_filter {
		width: 100%;
	}

	.reviews_wrap {
		flex-wrap: wrap;
		padding: 30px 0 0 0;
	}

	.reviews_block {
		width: 100%;
		padding: 0;
	}

	.reviews_block2 {
		width: 100%;
		padding: 50px 0 0 0;
	}

	.reviews_inner {
		margin: 20px -10px 0 -10px;
	}

	.reviews_inner_link_img {
		width: 100%;
	}

	.reviews_review_lg {
		display: none;
	}

	.reviews_border {
		margin: 20px 0 0 0;
		padding: 38px 38px;
	}

	.reviews_inner_link_title {
	    font-family: 'gteestiprodisplay-bold';
	    font-size: 22px;
	    line-height: 24.64px;
	    color: #fff;
	}

	.reviews_inner_link_border {
	    width: 100%;
	    position: relative;
	    z-index: 1;
	    height: 117px;
	    padding: 33px 10px 0 35px;
	    margin: -117px 0 0 0;
	    background: #3B3D41;
	}

	.reviews_inner_link_title_size {
	    font-size: 16px;
	    line-height: 17.98px;
	}

	.reviews_inner_link_suptitle_size {
		font-size: 14px;
    	line-height: 15.76px;
	}

	.reviews_inner_link_border_height {
	    height: 70px;
	    margin: -70px 0 0 0;
	    padding: 18px 10px 0 22px;
	}

	.reviews_link {
	    display: flex;
	    justify-content: center;
	    padding: 30px 0 0 0;
	}

	.licenses_block {
		width: 25%;
	}

	.clients_block {
		width: 33.333333%;
		padding: 10px 5px 0 5px;
	}

	.clients_wrap {
		margin: 10px -5px 0 -5px;
	}

	.equipment_block {
		width: 50%;
	}

	.equipment_block_lg {
		width: 100%;
	}

	.equipment_inner_lg {
		display: flex;
		margin: 0 -10px 0 -10px;
	}

	.equipment_inner_block_lg {
		width: 50%;
		padding: 0 10px;
	}

	.seven_sl2 .slick-prev {
		display: none !important;
	}

	.seven_sl2 .slick-next {
		display: none !important;
	}

	.container-counter {
		display: none;
	}

	.seven_border {
		padding: 0; 
		border: none;
		background: none;
	}

	.modal_block_lg {
		display: block;
		order: 2;
		width: 50%;
		padding: 0 0 0 20px;
	}

	.modal_none {
		display: none;
	}

	.modal_info {
		padding: 0;
	}

	.modal_block {
		width: 100%;
		order: 3;
		padding: 0;
	}

	.modal_block2 {
		width: 50%;
		order: 1;
	}

	.modal-border {
		border-radius: 20px;
		padding: 40px 40px;
		margin: 100px 20px 0 20px;
	}

	.button-close-modal {
		display: flex;
	}

	.button-close-modal img {
		width: 20px;
	}

	.modal-close-button {
		top: 15px;
		right: 15px;
	}

	.card .slick-prev {
		left: 0 !important;
	}

	.card .slick-next {
		right: 0 !important;
	}

	.video_block {
		width: 50%;
	}

	.video_img_width {
		width: 100%;
	}

	.video_restagle {
		padding: 0 130px 23px 23px;
	}

	.video_restagle_pd {
	    padding: 0 195px 23px 23px;
	}

	.equipment_inner_block_lg:last-child {
		padding: 0 10px;
	}
}	


@media screen and (max-width: 1050px) {
	

  
}


/* стили для sm-устройств */
@media screen and (max-width: 1024px) {
	.header_nav {
		display: none;
	}

	.header {
		padding: 15px 0;
		position: relative;
	}

	.header_mobile_menu {
		display: block;
		padding: 0 0 0 14px;
	}

	.background {
        
        background-size: cover;
    }

    .background:before {
    	background: linear-gradient(-50.09deg, rgba(145, 204, 51, 0) 39.57%, rgba(64, 174, 57, 0.82) 61.12%, #1F8019 80.03%);
    }

    .one {
    	padding: 43px 0 288px 0;
    }

    .one_wrap {
    }

    .one_block {
    	position: relative;
    	z-index: 1;
    	padding: 0;
    }

    .one_block2 {
    	justify-content: flex-end;
    }

    .title {
	    font-family: 'gteestiprodisplay-bold';
	    font-size: 50px;
	    line-height: 51.4px;
	    color: #fff;
	    text-transform: uppercase;
	}

	.one_inner {
		flex-wrap: wrap;
		padding: 34px 0 0 0;
	}

	.one_link {
		width: 100%;
	}

	.one_link2 {
		padding: 20px 0 0 0;
	}

	.one_width {
	    max-width: 600px;
	}

	

	.title_center {
		text-align: center;
	}

	.two_wrap {
		padding: 4px 0 0 0;
		flex-wrap: wrap;
	}

	.two_block {
		margin: 0;
		width: 50%;
		padding: 20px 20px 0 0;
	}

	.bg_color {
		background: none;
	}


	.three {
		padding: 60px 0 0 0;
		background: none;
		position: relative;
	}



	.three_slayder {
		display: block;
	}

	.three_flex {
		position: relative;
		z-index: 1;
		flex-wrap: wrap;
	}

	.three_block {
		padding: 0;
		width: 100%;
	}

	.three_block:before {
		display: none;
	}

	.three_img {
		margin: 10px 0 0 0;
		text-align: center;
	}

	

	.five_bg {
		background: none;
	}

	.five_logo_block {
		display: none;
	}

	.five_top {
		margin: 16px 0 0 0;
	}

	.five_restagle {
		width: 60%;
		margin: 0 0 0 auto;
	}

	.five_title_lg {
		padding: 0 0 0 12px;
		display: block;
	}

	.five_top {
		justify-content: flex-start;
	}

	.five_block {
		width: auto;
	}

	.five_border {
		width: 150px;
		padding: 0 13px 0 13px;
	}

	.five_wrap {
		margin: 25px 0 -295px;
		padding: 28px 0 0 0;
	}

	.five_lg_logo {
		display: flex;
		position: absolute;
		top: 21px;
		left: -16px;
		width: 79px;
	}

	.five_number {
	    font-family: 'gteestiprodisplay-bold';
	    font-size: 26px;
	    line-height: 28.86px;
	}

	

	.five_text_dk {
		display: none;
	}

	.five_text_lg {
		position: relative;
		display: block;
	}

	.hide-text {
		display: none;
	}

	.hide-text.active {
		display: block;
	}

	.five_border_height {
		height: 370px;
	}

	.five_border_height2 {
		height: 295px;
	}

	.five_border_height3 {
		height: 235px;
	}

	.five_border_height4 {
		height: 185px;
	}

	.five_border_height5 {
		width: 200px;
		height: 110px;
	}

	.six_wrap {
		flex-wrap: wrap;
	}

	.six_block {
		width: 100%;
		padding: 0;
	}

	.six_block2 {
		width: 100%;
		padding: 112px 0 0 0;
	}

	.six_video img {
		width: 100%;
	}

	.six_border {
        max-width: 564px;
        position: relative;
        padding: 22px 0 0 27px;
    }

    .six_border:before {
    	width: 74px;
    	height: 74px;
    	background-size: 74px 74px;
    }

    .six_border:after {
	    position: absolute;
	    content: '';
	    background: url(../images/six_border_af2.svg) 0 0 no-repeat;
	    width: 141px;
	    height: 139px;
	    right: -109px;
	    bottom: auto;
	    top: 45px;
	}

	.seven_link_title {
	    font-family: 'gteestiprodisplay-medium';
	    font-size: 20px;
	    line-height: 22.64px;
	    color: #fff;
	}

	.seven_link_border {
	    position: absolute;
	    width: 100%;
	    bottom: 0;
	    left: 0;
	    height: 110px;
	    padding: 36px 20px 0 34px;
	}

	.seven_link_absolute img {
		width: 20px;
	}

	.seven_link_absolute {
		top: -71px;
		right: -72px;
		padding: 0 0 18px 18px;
	}

	.eight_sl .slick-dots {
		bottom: -20px !important;
	}

	.licenses_block {
		width: 33.33333333%;
	}

	.licenses_link a img {
		width: 100%;
	}

	.projects_title {
	    padding: 12px 0 0 0;
	    font-family: 'gteestiprodisplay-medium';
	    font-size: 14px;
	    line-height: 15.24px;
	    text-transform: uppercase;
	}

	.projects_block {
		width: 50%;
		padding: 24px 10px 0 10px;
	}

	.projects_wrap {
		margin: 6px -10px 0 -10px;
	}

	.projects_block2 {
		width: 100%;
		padding: 24px 10px 0 10px;
	}

	.projects_block_lg {
		width: 50%;
	}

	.projects_img img {
		width: 100%;
	}

	.projects_block_lg2 {
		width: 100%;
	}

	.projects_img {
		border-radius: 10px;
	}

	.video_ellipse img {
		width: 80px;
	}

	.video_restagle p {
	    white-space: nowrap;
	    display: flex;
	    flex-wrap: wrap;
	    position: relative;
	    z-index: 1;
	    font-family: 'gteestiprodisplay-bold';
	    font-size: 28px;
	    line-height: 31.6px;
	    color: #fff;
	    text-transform: uppercase;
	}

	.video_restagle p span {
	    width: 100%;
	    font-size: 16px;
	    line-height: 18.52px;
	}

	.video_restagle {
        padding: 0 135px 15px 20px;
    }

    .video_title {
	    font-size: 14px;
	    line-height: 15.24px;
	    color: #3B3D41;
	    display: -webkit-box;
	    -webkit-line-clamp: 2;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
	}

	.video_flex {
	    padding: 0 20px;
	    display: flex;
	    align-items: center;
	    height: 72px;
	}

	.video_ellipse {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    padding: 0 0 0px 0;
	    left: 0;
	    z-index: 2;
	}

	.video_restagle_pd {
        padding: 0 180px 23px 23px;
    }

    .video_block {
    	padding: 20px 10px 0 10px;
    }

    .video_wrap {
    	margin: 25px -10px 0 -10px;
    }

    .video_top {
    	display: block;
    }

    .video_number {
    	display: none;
    }





  
}

/* стили для sm-устройств */
@media screen and (max-width: 992px) {
	
}


@media screen and (max-width: 900px) {
	
	.one_img img {
		width: 300px;
	}

	/*.one_restagle_title {
	    padding: 0 0 8px 0;
	    font-size: 13px;
	    line-height: 12.28px;
	    color: #fff;
	}*/

	.one_restagle {
        margin: 0px 0 0 0;
        /*padding: 30px 15px 0 15px;
        width: 100px;
        height: 100px;*/
        border-radius: 50%;
        box-shadow: -5px 4px 8.1px 0px #00000040;
        background: #FF9A04;
        text-align: center;
    }

    

	.five_border {
		width: 109px;
	}

	.five_title {
	    padding: 1px 0 0 0;
	    font-size: 10px;
	    line-height: 11.54px;
	}

	.five_border_height {
		height: 242px;
	}

	.five_border_height2 {
		height: 216px;
	}

	.five_border_height3 {
		height: 184px;
	}

	.five_border_height4 {
		height: 138px;
	}

	.five_wrap {
        margin: 25px 0 -168px;
        padding: 28px 0 0 35px;
    }

    .three:before {
		position: absolute;
		content: '';
		background: url(../images/three_bf.png) 0 50% no-repeat;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;	
	}

	.three:after {
		position: absolute;
		content: '';
		background: url(../images/three_af.png) 100% 90% no-repeat;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;	
	}

	.nine_border {
        position: relative;
        background: url(../images/nine_border2.png) 0 100% no-repeat;
        background-size: cover;
        padding: 33px 30px 34px 30px;
        height: 100%;
        border-radius: 40px;
        overflow: hidden;
    }

    .services_p_block {
    	width: 50%;
    }

    .services_p_border {
    	height: 234px;
    }

    .team_block {
    	width: 50%;
    }

    .team_top {
    	padding: 30px 0 0 0;
    }

    .team_wrap {
    	margin: 25px -10px 0 -10px;
    }

    .team_top_title {
    	max-width: 100%;
    	width: 90%;
    }

    .clients_border {
	    background: #fff;
	    border-radius: 10px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    height: 114px;
	}

}


/* Ipad*/ 
@media screen and (max-width: 768px) {
	.burger_link_pd a br {
		display: block;
	}

	.licenses_block {
		width: 50%;
	}

	.licenses_wrap {
		margin: 0 -10px 0 -10px;
	}

	.licenses_title {
	    padding: 20px 0 0 0;
	    font-family: 'gteestiprodisplay-bold';
	    font-size: 20px;
	    line-height: 22.2px;
	}

	.video_restagle {
        padding: 0 67px 15px 20px;
    }

    .video_restagle_pd {
        padding: 0 98px 23px 23px;
    }

    .video_ellipse {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        padding: 0 0 30px 0;
        left: 0;
        z-index: 2;
    }

    .news_info {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        width: 64%;
        padding: 0 0 0 20px;
    }
}


/* Ipad mini*/ 
@media screen and (max-width: 640px) {
	/*.one_restagle {
        margin: 0px 0px 0 -100px;
        padding: 30px 15px 0 15px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: -5px 4px 8.1px 0px #00000040;
        background: #FF9A04;
        text-align: center;
    }*/

    .four_block {
    	width: 100%;
    	padding: 10px 10px 0 10px;
    }

    .four_border {
    	padding: 22px 30px 0 30px;
    	border-radius: 10px 10px 100px 10px;
    	height: 76px;
    }

    .four_link_mb {
    	display: block;
    }

    .four_ul {
    	display: none;
    }

    .four_suptitle_mb{
    	display: block;
    }

    .four_title {
        font-family: 'gteestiprodisplay-bold';
        font-size: 16px;
        line-height: 16.56px;
        color: #fff;
        text-transform: uppercase;
    }

    .four_inner {
    	flex-wrap: wrap;
    }

    .four_suptitle {
    	width: 100%;
    	padding: 5px 0 0 0;
		font-size: 12px;
		line-height: 12.24px;
    }

    .four_suptitle br {
    	display: none;
    }

    .four_absolute_left {
    	left: auto;
    	right: 0;
    }

    .four_title_right {
    	text-align: left;
    }

    .four_absolute {
        position: absolute;
        width: 86px;
        right: 10px;
        display: flex;
        bottom: -10px;
    }

    .six_border:after {
    	display: none;
    }

    .six_block2 {
    	padding: 20px 0 0 0;
    }

    .six {
    	padding: 40px 0 0 0;
    }

    .news_restagle {
    	padding: 0;
    	border-bottom: none;
    }

    .news_border {
    	padding: 0 0 10px 0;
    	flex-wrap: wrap;
    }

    .news_img {
    	width: 100%;
    	height: auto;
    }

    .news_info {
    	width: 100%;
    	padding: 14px 0 0 0;
    }

    .news_img img {
    	width: 100%;
    }

    .news_info_wrap {
    	display: flex;
    	align-items: center;
    	justify-content: space-between;
    }

    .news_category_mb {
    	display: block;
    }

    .news_category_dk {
    	display: none;
    }

    .news_info_height {
    	height: auto;
    	margin: 10px 0 0 0;
    }

    .news_title {
	    font-family: 'gteestiprodisplay-bold';
	    font-size: 18px;
	    line-height: 20.8px;
	    color: #3B3D41;
	    text-transform: uppercase;
	}

	.news_suptitle {
	    padding: 10px 0 0 0;
	    font-size: 14px;
	    line-height: 15.24px;
	    color: #3B3D41;
	    display: -webkit-box;
		  -webkit-line-clamp: 3;
		  -webkit-box-orient: vertical;
		  overflow: hidden;
	}

	.news_block {
		padding: 20px 0 0 0;
	}

	.news_wrap {
		margin: 6px 0 0 0;
	}

    
}

@media screen and (max-width: 575px) {
  	.burger-box.is-open {
	  display: none;
	}

	.header_none {
		display: none;
	}

	.burger2 {
		top: -55px;
	}

	.burger_lg {
		display: none;
	}

	.burger_mb {
		display: block;
	}

	.sliding-panel-content {
		padding: 27px 20px 31px 20px;
	}

	.burger_contact a img {
		display: none;
	}

	.burger_contact2 a img {
		display: none;
	}

	.burger_contact a {
		font-family: 'gteestiprodisplay-regular';
		font-size: 16px;
		line-height: 12px;
		color: #3B3D41;
	}

	.burger_contact2 a {
		font-family: 'gteestiprodisplay-regular';
		font-size: 16px;
		line-height: 17px;
		color: #3B3D41;
	}

	.burger_contact2 {
		padding: 6px 0 0 0;
	}

	.burger_contact {
		padding: 19px 0 0 0;
	}

	.burger_title {
		padding: 17px 0 0 0;
		font-size: 14px;
		line-height: 15.54px;
	}

	.burger_social {
		padding: 21px 0 0 0;
	}

	.burger_social_li a svg path {
		fill: #ABD156;
	}

	.sliding-panel-fade-screen.is-visible {
		display: block;
	}

	.is-visible.header_left {
		opacity: 0;
	}

	.one_restagle {
		padding: 24px 5px 0 5px;
		width: 93px;
		height: 93px;
	}

	.one_restagle_title {
	    padding: 0 0 8px 0;
	    font-size: 14px;
	    line-height: 13.28px;
	    color: #fff;
	}

    .title {
        font-family: 'gteestiprodisplay-bold';
        font-size: 30px;
        line-height: 30.52px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
    }

    .one_inner {
    	padding: 20px 0 0 0;
		flex-wrap: nowrap;
	}

	.one_link_block {
		width: 50%;
		margin: 0 20px 0 0;
	}

	.one_link_block:last-child {
		margin: 0;
	}

	.one_link2 {
		padding: 0;
	}

	.one_link a {
	    width: 100%;
	    height: 35px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    border-radius: 80px;
	    font-size: 14px;
	    line-height: 17.28px;
	    box-shadow: 0px 4px 10.3px 0px #0000001A;
	}

	.one_link2 a {
	    width: 100%;
	    height: 35px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    border-radius: 80px;
	    font-size: 14px;
	    line-height: 17.28px;
	    color: #fff;
	}

	.one_block2 {
		justify-content: flex-start;
        margin: 17px 0 0 0;
        width: 100%;
        padding: 0 0 0 71px;
    }

    .one_img img {
    	width: auto;
    	max-width: 227px;
    }

    .title2 {
	    font-size: 24px;
	    line-height: 26.64px;
	}

	

    .two_wrap {
    	margin: 0 -20px 0 0;
    }

    .two_suptitle {
    	display: none;
    }

    .two_number {
	    font-family: 'gteestiprodisplay-medium';
	    font-size: 36px;
	    line-height: 39.96px;
	}

	.two_title {
	    margin: -1px 0 0 0;
	    font-family: 'gteestiprodisplay-medium';
	    font-size: 12px;
	    line-height: 13.32px;
	}

	.two_border {
	    position: relative;
	    padding: 10px 0 0 16px;
	}

	.two_border:before {
		background-size: 43px 43px;
		width: 43px;
		height: 43px;
	}

	.three_slayder_wrap {
	    position: absolute;
	    width: 100%;
	    bottom: 16px;
	    left: 0;
	    z-index: 1;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    padding: 0 15px;
	}

	.three_slayder_title {
	    font-family: 'gteestiprodisplay-medium';
	    font-size: 14px;
	    line-height: 15.54px;
	    color: #fff;
	    text-transform: uppercase;
	}

	.three_slayder_link {
	    border: 1px solid #ABD156;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    width: 115px;
	    height: 30px;
	    border-radius: 80px;
	    font-size: 14px;
	    line-height: 13.44px;
	    color: #fff;
	}

	.three_sl .slick-prev {
		left: 10px !important;
	}

	.three_sl .slick-next {
		right: 10px !important;
	}

	.five_restagle {
		display: none;
	}

	.five_top {
		margin: 0;
		justify-content: space-between;
	}

	.five_bg {
		max-width: 215px;
	}

	.five_title_lg {
		display: none;
	}

	.five_logo_block {
		display: block;
	}

	.five_logo {
		background: none;
	}

	.five_logo_mb {
		display: block;
	}

	.five_logo_dk {
		display: none;
	}

	.five_img_mb {
		display: block;
		width: 100%;
	}

	.five_img_lg {
		display: none;
	}

	.five_lg_logo {
		display: none;
	}

	.five_border {
		height: auto;
		width: auto;
		padding: 18px 10px;
	}

	.five_text_lg {
		text-align: center;
	}

	.five_border:before {
		display: none;
	}

	.five_border:after {
		display: none;
	}

	.five_block {
		border-top: 1px solid #BBBDBF;
		width: 50%;
	}

	.five_wrap {
		border-top: none;
		flex-wrap: wrap;
		margin: 25px 0 0 0;
		padding: 0;
	}

	.five_block_mb {
		display: block;
	}

	.five_wrap:before {
		position: absolute;
		content: '';
		height: 100%;
		width: 1px;
		background: #BBBDBF;
		top: 0;
		left: 50%;
	}

	.five_wrap:after {
		position: absolute;
		content: '';
		border-radius: 50%;
	  height: 26px;
	  width: 26px;
	  border: 8px solid #FF9A04;
	  background: #fff;
	  bottom: -18px;
	  left: 47.8%;
	}

	.three_img_mb {
		display: block;
	}

	.three_img_dk {
		display: none;
	}

	.three_img {
		margin: 0 -20px;
	}

	.six_border {
		padding: 14px 0 0 17px;
		max-width: 317px;
	}

	.six_border:before {
		width: 44px;
		height: 44px;
		background-size: 44px 44px;
	}

	.seven_title {
        font-family: 'gteestiprodisplay-medium';
        font-size: 24px;
        line-height: 26.6px;
        text-transform: uppercase;
    }

    .seven_slayder_border {
        height: 190px;
        padding: 30px 20px 0 20px;
    }

    .seven_sl .slick-next {
    	right: 30px !important;
    }

    .seven_sl .slick-prev {
    	left: 30px !important;
    }

    .seven_link_border {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 100px;
        padding: 30px 20px 0 25px;
    }

    .seven_block2 {
    	padding: 10px 0 0 0;
    }

    .seven_sl2 .slick-dots li {
    	width: 6px !important;
    	height: 6px !important;
    }

    .eight_sl .slick-next {
    	display: none !important;
    }

    .eight_sl .slick-prev {
    	display: none !important;
    }

    .eight_sl .slick-slide {
    	margin: 0 5px 0 5px !important;
    }

    .eight_sl .slick-dots li {
    	height: 6px !important;
    	width: 6px !important;
    }

    .nine_adsolute {
    	display: none;
    }

    .nine {
        padding: 66px 0 50px 0;
    }

    .nine_border {
    	padding: 34px 10px 43px 10px;
    	border-radius: 20px;
    	background: radial-gradient(51.42% 322.01% at 51.42% -4.71%, #80CD51 0%, #21A038 98%);
    }

    .nine_border:before {
    	position: absolute;
    	content: '';
    	background: url(../images/nine_border_bf.svg) 100% 100% no-repeat;
    	top: 0;
    	right: 0;
    	left: 0;
    	bottom: 0;
    }

    .nine_title {
        font-family: 'gteestiprodisplay-bold';
        font-size: 20px;
        line-height: 22.4px;
        color: #fff;
        text-align: center;
    } 

    .nine_suptitle {
        padding: 10px 0 0 0;
        font-size: 14px;
        line-height: 15.2px;
        color: #fff;
        text-align: center;
    }

    .nine_inner {
    	max-width: 242px;
    	margin: 0 auto;
    	padding: 30px 0 0 0;
    }

    .nine_inner_block {
    	width: 100%;
    	padding: 0 0 10px 0;
    }

    .nine_inner_block:last-child {
    	padding: 0;
    }

    .nine_button span {
    	display: block;
    }

    .nine_button svg {
    	display: none;
    }

    .nine_input {
    	width: 100%;
    	height: 40px;
    	text-align: center;
    	font-size: 14px;
    	line-height: 15px;
    }

    .nine_button {
    	border-radius: 40px;
    	width: 100%;
    	padding: 0;
    	font-size: 14px;
    	line-height: 15px;
    	height: 40px;
    	color: #000;
    	justify-content: center;
    	align-items: center;
    }

    .checkbox-main {
    	align-items: center;
    }

    .nine_suptitle br {
    	display: none;
    }

    .nine_title2 {
	    font-size: 20px;
	    line-height: 20.76px;
	    text-align: center;
	}

	.nine_suptitle2 {
	    padding: 10px 0 0 0;
	    font-size: 14px;
	    line-height: 14.36px;
	    text-align: center;
	}

	.nine_form_wrap {
		flex-wrap: wrap;
	}

	.nine_form {
		max-width: 242px;
		margin: 0 auto;
	}

	.nine_form_block {
		width: 100%;
		padding: 0 0 10px 0;
	}

	.nine_form_block2 {
		width: 100%;
	}

	.nine_form_input {
		height: 40px;
		font-size: 14px;
		line-height: 14px;
		text-align: center;
	}

	.nine_form_textarea {
		border-radius: 10px;
		height: 74px;
		padding: 12px 20px;
		text-align: center;
		font-size: 14px;
		line-height: 14px;
	}

	.nine_form_button {
		margin: 10px 0 0 0;
		width: 100%;
		height: 40px;
	}

	.footer_logo {
		display: none;
	}

	.footer_inner {
		width: 100%;
	}

	.footer_nav_block {
		padding: 14px 0 0 0;
		text-align: center;
		width: 100%;
	}

	.footer_nav_ul {
		display: none;
	}

	.footer_nav_link_lg {
		display: none;
	}

	.footer_nav_link_pd {
		display: block;
		padding: 14px 0 0 0;
	}

	.footer_restagle_mb {
		width: 100%;
		border-top: none;
		margin: 0;
		padding: 30px 0 0 0;
		display: block;
	}

	.footer_restagle_dk {
		display: none;
	}

	.footer_button {
	    margin: 12px auto 0 auto;
	    width: 139px;
	    height: 32px;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    padding: 0 20px;
	    border-radius: 43px;
	    border: 1px solid #40AE39;
	    font-family: 'gteestiprodisplay-thin';
	    font-size: 16px;
	    line-height: 17.76px;
	    color: #40AE39;
	}

	.footer_contacts_link a {
		justify-content: center;
	}

	.footer_contacts_link2 a {
		justify-content: center;
	}

	.footer_contacts_addres {
	    padding: 20px 0 0 0;
	    font-size: 16px;
	    line-height: 17.76px;
	    color: #BBBDBF;
	}

	.footer_contacts_addres br {
		display: none;
	}

	.footer_social {
		padding: 20px 0 0 0;
		justify-content: center;
	}

	.footer_bottom {
		flex-wrap: wrap;
		padding: 24px 0 0 0;
	}

	.footer_bottom_ul {
		width: 100%;
		flex-wrap: wrap;
	}

	.footer_bottom_li {
		width: 100%;
		text-align: center;
		padding: 0 0 14px 0;
	}

	.footer_bottom_title{
		width: 100%;
		padding: 28px 0 0 0;
		text-align: center;
	}

	.footer_nav_wrap {
		margin: 0;
	}

	.footer {
	    padding: 25px 0 43px 0;
	    background: #121418;
	}

	.one {
		background: rgba(68, 95, 0, 0.3) url(../images/one3.png) 50% 10% no-repeat;
		padding: 28px 0 262px 0;
	}

	.one_wrap {
		flex-wrap: wrap;
	}

	.one_block {
		width: 100%;
	}

	.one_title {
	    padding: 0 0 8px 0;
	    font-family: 'gteestiprodisplay-light';
	    font-size: 20px;
	    line-height: 20.8px;
	    color: #fff;
	    text-transform: uppercase;
	    text-align: center;
	}

	.nine_form_flex {
		flex-wrap: wrap;
	}

	.nine_form_chekbox_color p {
	    font-size: 12px;
	    line-height: 13.54px;
	    color: #BBBDBF;
	    text-align: center;
	}

	.nine_form_chekbox_color {
		padding: 20px 0 0 0;
	}

	.nine_form_file {
		display: none;
	}

	.nine_chekbox {
		padding: 10px 0 0 0;
	}

	.nine_chekbox p {
	    font-size: 12px;
	    line-height: 13.54px;
	    color: #FFFFFF80;
	    text-align: center;
	}

	.services_p_block {
		width: 100%;
		padding: 10px 0 0 0;
	}

	.services_p_wrap {
		margin: 20px 0 0 0;
	}

	.services_p_border {
		height: auto;
		padding: 20px 20px;
		text-align: center;
	}

	.services_p_title {
	    padding: 10px 0 0 0;
	    font-size: 14px;
	    line-height: 15.76px;
	}

	.services_p {
	    padding: 50px 0 0 0;
	}

	.team_top_title {
	    font-size: 14px;
	    line-height: 15.98px;
	}

	.team_top {
		padding: 20px 0 0 0;
	}

	.team_wrap {
		margin: 10px -10px 0 -10px;
	}

	.team_border {
	    background: #3B3D4180;
	    height: 40px;
	    padding: 6px 10px 0 12px;
	    backdrop-filter: blur(0.625rem);
	}

	.team_name {
	    font-family: 'gteestiprodisplay-bold';
	    font-size: 12px;
	    line-height: 12.48px;
	    color: #fff;
	}

	.team_position {
	    padding: 2px 0 0 0;
	    font-size: 12px;
	    line-height: 12.32px;
	    color: #fff;
	}

	.team {
	    padding: 20px 0 167px 0;
	    background: url(../images/team.png) center 100% no-repeat;
	}

	.title3 {
	    font-family: 'gteestiprodisplay-bold';
	    font-size: 18px;
	    line-height: 19.08px;
	    text-transform: uppercase;
	    text-align: center;
	}

	.reviews_border {
		padding: 20px 20px;
	}

	.reviews_border_title {
	    font-family: 'gteestiprodisplay-medium';
	    font-size: 18px;
	    line-height: 20.3px;
	}

	.reviews_border_number {
	    font-family: 'gteestiprodisplay-medium';
	    font-size: 40px;
	    line-height: 46px;
	}

	.reviews_border_wrap {
	    display: flex;
	    padding: 4px 0 18px 0;
	    align-items: center;
	}

	.reviews_border_suptitle {
    	padding: 2px 0 0 0;
	    font-size: 14px;
	    line-height: 16.4px;
	    color: #BBBDBF;
	}

	.reviews_button {
	    width: 100%;
	    height: 50px;
	    background: #40AE39;
	    border: 1px solid #40AE39;
	    border-radius: 10px;
	    font-family: 'gteestiprodisplay-bold';
	    font-size: 16px;
	    line-height: 18px;
	    color: #fff;
	}

	.reviews_review {
		padding: 20px 20px;
	}

	.reviews_review_name {
	    font-family: 'gteestiprodisplay-bold';
	    font-size: 16px;
	    line-height: 18px;
	    color: #2B2A29;
	    width: 40%;
	    padding: 0 9px 0 0;
	}

	.reviews_review_title {
	    padding: 10px 0 0 0;
	    font-size: 14px;
	    line-height: 21px;
	    color: #2B2A29;
	    display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
	}

	.reviews_review_data {
	    font-size: 12px;
	    line-height: 13.4px;
	    color: #BBBDBF;
	}

	.reviews_review_link {
	    padding: 20px 0 0 0;
	    display: flex;
	    justify-content: center;
	}

	.reviews_review_link a {
		width: 100%;
	}

	.reviews_block2 {
		padding: 30px 0 0 0;
	}

	.reviews_inner_block2_mb {
		display: none;
	}

	.reviews_inner_block2 {
		width: 50%;
	}

	.reviews_inner {
		margin: 0 -10px 0 -10px;
	}

	.reviews_inner_link_border {
        width: 100%;
        position: relative;
        z-index: 1;
        height: 46px;
        padding: 10px 10px 0 14px;
        margin: -46px 0 0 0;
        background: #3B3D41;
    }

    .reviews_inner_link_title {
        font-family: 'gteestiprodisplay-bold';
        font-size: 12px;
        line-height: 13.64px;
        color: #fff;
    }

    .reviews_inner_link_suptitle {
	    padding: 1px 0 0 0;
	    font-size: 10px;
	    line-height: 11.76px;
	    color: #BBBDBF;
	}

	.reviews_inner_link a {
	    display: flex;
	    flex-wrap: wrap;
	    border-radius: 10px;
	    overflow: hidden;
	    box-shadow: 0px 0px 8.4px 0px #0000001A;
	    position: relative;
	}

	.reviews_link {
        display: flex;
        justify-content: center;
        padding: 20px 0 0 0;
    }

    .reviews_link a {
	    width: 160px;
	    height: 40px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    border-radius: 80px;
	    border: 1px solid #3B3D41;
	    font-family: 'gteestiprodisplay-bold';
	    font-size: 14px;
	    line-height: 13.28px;
	    color: #3B3D41;
	}

	.licenses_title {
	    padding: 20px 0 0 0;
	    font-family: 'gteestiprodisplay-bold';
	    font-size: 16px;
	    line-height: 17.2px;
	    text-align: center;
	}

	.licenses_suptitle {
	    padding: 10px 0 0 0;
	    max-width: 910px;
	    font-size: 14px;
	    line-height: 15.76px;
	    text-align: center;
	}

	.licenses_top h3 {
	    position: relative;
	    z-index: 1;
	    font-family: 'gteestiprodisplay-medium';
	    font-size: 18px;
	    line-height: 19.08px;
	}

	.licenses_top {
	    margin: 39px 0 0 0;
	    position: relative;
	    padding: 0 0 0 21px;
	}

	.licenses_top:before {
	    position: absolute;
	    content: '';
	    background: url(../images/licenses_top.svg) 0 0 no-repeat;
	    width: 35px;
	    height: 35px;
	    top: -7px;
	    left: 0;
	}

	.licenses_wrap {
        margin: 8px -10px 0 -10px;
    }

    .equipment_border {
    	height: 125px;
    	border-radius: 10px;
    }

    .equipment_title {
	    position: relative;
	    z-index: 1;
	    font-family: 'gteestiprodisplay-medium';
	    font-size: 12px;
	    line-height: 13.24px;
	    color: #fff;
	    text-transform: uppercase;
	    bottom: 10px;
	    padding: 0 10px;
	}

	.equipment_border_height {
		height: 273px;
	}

	.equipment_block_order {
		order: 6;
	}

	.equipment_block_order2 {
		order: 5;
	}

	.equipment_block_mb {
		width: 100%;
	}

	.equipment_block_order3 {
		order: 7;
	}

	.equipment_block_mb .equipment_border {
		height: 268px;
	}

	.equipment_wrap {
		margin: 10px -10px 0 -10px;
	}

	.projects_block_mb {
		display: none;
	}

	.projects_block {
		padding: 20px 0 0 0;
		width: 100%;
	}

	.projects_block2 {
		padding: 20px 0 0 0;
		width: 100%;
	}

	.projects_wrap {
		margin: 0;
	}

	.projects_link {
		display: block;
		padding: 10px 0 0 0;
	}

	.projects_ul {
		display: none;
	}

	.projects_select {
		display: block;
		padding: 14px 0 0 0;
	}

	.projects_absolute {
		width: 80px;
		height: 80px;
		top: -40px;
		right: -40px;
		padding: 0 0 17px 18px;
	}

	.projects_absolute svg {
		width: 10px;
		height: 10px;
	}

	.modal_block_lg {
		width: 100%;
		order: 1;
		padding: 0;
	}

	.modal_block2 {
		width: 100%;
		order: 2;
		padding: 10px 0 0 0;
	}

	.modal_dots {
		display: none;
	}

	.modal_title {
	    font-family: 'gteestiprodisplay-bold';
	    font-size: 14px;
	    line-height: 15.2px;
	    color: #000000;
	    text-transform: uppercase;
	}

	.modal_suptitle {
	    padding: 10px 0 0 0;
	    font-size: 14px;
	    line-height: 15.76px;
	}

	.modal-border {
        border-radius: 20px;
        padding: 25px 17px;
        margin: 100px 20px 0 20px;
    }

    .modal-close-button {
    	right: 0;
    	top: -34px;
    }

    .modal_icon {
	    padding: 3px 3px;
	    height: 30px;
	    width: 30px;
	    border-radius: 10px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}

	.modal_inner_title {
	    font-family: 'gteestiprodisplay-bold';
	    font-size: 14px;
	    line-height: 15.76px;
	    color: #000000;
	}

	.modal_inner_suptitle {
	    padding: 0px 0 0 0;
	    font-size: 14px;
	    line-height: 15.76px;
	    color: #000000;
	}

	.modal_inner_text {
	    padding: 0 0 0 15px;
	    width: 89%;
	}

	.video_block {
		width: 100%;
	}

	.video_wrap {
		margin: 0 -10px 0 -10px;
	}

	.video_restagle {
        padding: 0 170px 15px 20px;
    }

    .video_restagle_pd {
        padding: 0 215px 23px 23px;
    }

    .header_contacts2_mb {
    	display: none;
    }


}

/* Galaxy S8+*/ 
@media screen and (max-width: 480px) {
  	.clients_border {
        background: #fff;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 72px;
    }

    .video_restagle {
        padding: 0 105px 15px 20px;
    }

    .video_restagle_pd {
        padding: 0 150px 23px 23px;
    }

    .one {
        background: rgba(68, 95, 0, 0.3) url(../images/one3.png) 50% 0% no-repeat;
        padding: 28px 0 262px 0;
    }
}

/* Galaxy*/ 
@media screen and (max-width: 415px) {
  	.five_wrap:after {
  		left: 46%;
  	}

  	.one {
        background: rgba(68, 95, 0, 0.3) url(../images/one3.png) 50% 0% no-repeat;
        padding: 28px 0 262px 0;
    }

    .clients_block {
    	width: 50%;
    }

   

    .video_restagle {
        padding: 0 67px 15px 20px;
    }

    .video_restagle_pd {
        padding: 0 112px 23px 23px;
    }
}


/* Iphone 6.7.8 */ 
@media screen and (max-width: 375px) {
	
}

/* Iphone 5.5SE */ 
@media screen and (max-width: 320px) {
	
}